
<html>
  <head>
    <style>
      body {
        background-color: <%= status[:bg_color] %>
      }
    </style>
  </head>
  <body>
    <form>
      <input type='text' name='guess' />
      <input type='submit' value='Guess!' />
    </form>
    <h1><%= status[:message] %></h1>
    <h2>You have <%= attempts %> more attempts.</h2>

    <% if guess %>
      <p>Your guess is <%= guess %></p>     
    <% end %>
    
    <% if cheated || status[:correct] %>
      <p>The SECRET NUMBER is <%= secret_number %></p>
    <% end %>
  </body>
</html>
